@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-main: "Poppins", "sans-serif";
  --color-main: #ee3131;
  --width-main: 1220px;
}
body {
  font-family: var(--font-main);
}
@keyframes slide-top-fade {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 1;
  }
}
@keyframes slide-bottom-fade {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}
.animate-slide-top {
  animation: slide-top-fade 0.3s ease-in-out forwards;
}

.animate-slide-bottom {
  animation: slide-bottom-fade 0.3s ease-in-out forwards;
}
